<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to TrekTrak!</h1>
            <p>Where has life taken you lately?</p>
            <p>
                <a class="btn btn-lg jumboBtn" href="/journals/new">Start new Journal</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% journals.forEach(function(journal){ %>
        <div class="col-md-4 col-sm-6 journalCard">
            <div class="img-thumbnail">
                <a href="/journals/<%= journal._id %>"><img class="img-fluid" src="<%= journal.image %>" alt=""></a>
                <h4><%= journal.name %></h4>
                <div class="caption">
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include ("../partials/footer") %>