<%- include ("../partials/header") %>

<h1><%= journal.name %></h1>

<p>
    <em>Submitted by: <%= journal.author.username %></em>
</p>

<img src="<%= journal.image %>" alt="">

<div id="map" data-leaflet="<%= leaflet %>"></div>

<p><%= journal.description %></p>

<a class="btn btn-primary" href="/journals/<%= journal._id %>/comments/new">Add Comment</a>

<% journal.comments.forEach(function(comment){ %>
<p>
    <strong><%= comment.author.username %></strong> - <%= comment.text %>
</p>

<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
<a class="btn btn-warning" href="/journals/<%= journal._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
<form action="/journals/<%= journal._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete Comment</button>
</form>
<% } %>
<% }); %>

<a href="/journals">Back</a>

<script>
    const mymap = L.map('map').setView([51.505, -0.09], 13);
    const accessKey = document.getElementById("map").getAttribute("data-leaflet");

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: accessKey
    }).addTo(mymap);
</script>

<%- include ("../partials/footer") %>