<%- include ("../partials/header") %>

<h1><%= journal.name %></h1>

<img src="<%= journal.image %>" alt="">

<p><%= journal.description %></p>

<a class="btn btn-primary" href="/journals/<%= journal._id %>/comments/new">Add Comment</a>

<% journal.comments.forEach(function(comment){ %>
<p>
    <strong><%= comment.author.username %></strong> - <%= comment.text %>
</p>
<a class="btn btn-warning" href="/journals/<%= journal._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
<form action="/journals/<%= journal._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete Comment</button>
</form>
<% }); %>

<a href="/journals">Back</a>

<%- include ("../partials/footer") %>